/backend-php-1/vendor
/backend-php-1/composer.lock
/backend-php-1/.env

/backend-php-2/.phpunit.cache
/backend-php-2/node_modules
/backend-php-2/public/build
/backend-php-2/public/hot
/backend-php-2/public/storage
/backend-php-2/storage/*.key
/backend-php-2/vendor
/backend-php-2/.env
/backend-php-2/.env.backup
/backend-php-2/.env.production
/backend-php-2/.phpunit.result.cache
/backend-php-2/Homestead.json
/backend-php-2/Homestead.yaml
/backend-php-2/auth.json
/backend-php-2/npm-debug.log
/backend-php-2/yarn-error.log
/backend-php-2/.fleet
/backend-php-2/.idea
/backend-php-2/.vscode

# Directorios
/backend-java/target/
/backend-java/build/
/backend-java/bin/
/backend-java/.gradle/
/backend-java/.idea/

# Archivos
/backend-java/crud_java/*.class
/backend-java/crud_java/*.log
/backend-java/crud_java/*.iml
/backend-java/crud_java/*.ipr
/backend-java/crud_java/*.iws
/backend-java/crud_java/*.jar
/backend-java/crud_java/*.war
/backend-java/crud_java/*.ear
/backend-java/crud_java/*.zip
/backend-java/crud_java/*.tar.gz
/backend-java/crud_java/*.rar
/backend-java/crud_java/*.tar.xz

# Configuración específica del IDE
/backend-java/crud_java/.classpath
/backend-java/crud_java/.project
/backend-java/crud_java/.settings/
/backend-java/crud_java/*.launch
/backend-java/crud_java/*.iml
/backend-java/crud_java/*.metadata/

# Logs
/backend-java/crud_java/logs/
/backend-java/crud_java/*.log
/backend-java/crud_java/log.txt
